<!DOCTYPE html><html lang="en"><head>
  <meta charset="utf-8">
  <title>AngularFlaskHerokuApp</title>
  <base href="/static/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.31d6cfe0d16ae931b73c.css"></head>
<body>
  <app-root></app-root>
<script src="runtime.754882ede289d3059a10.js" defer></script><script src="polyfills.4cc8d1c5f607ffd1c623.js" defer></script><script src="main.3674e50a23e576b6b165.js" defer></script>

</body></html>